# Terraform local files
.terraform
*.tfstate
*.tfstate.*
*.tfplan
cloud.tf
tmp
*.tfvars
.terraform.lock.hcl

# Exclude example.tfvars from being ignored
!example.tfvars

# OS files
Icon*
.DS_Store
.env*

scripts/create-vm-template-script.sh
